<div class="footer">
  <div class="container">
    <div class="col-md-12">
      <p class="text-muted credit">© 2013 | <a href="http://1050.14201420.com">http://1050.14201420.com</a></p>
    </div>
  </div>
</div>