<div class="navbar-fixed-top player-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="PlayerContainer"></div>
    </div>
  </div>
</div>

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <a class="logo-container" href="/">
      <span class="logo"></span>
    </a>
    <div class="navbar-header dropdown">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="javascript:;" class="dropdown-toggle navbar-brand" data-toggle="dropdown">赞美诗选编(1050首) <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="/">首页</a></li>
        <li><a href="/#modification">添加诗歌</a></li>
        <!-- <li><a href="#">我的诗歌单</a></li> -->
        <li class="divider"></li>
        <li><a href="/dev-blog">网站开发博客</a></li>
      </ul>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav narrow-nav">
        <li><a href="/#songs/颂赞">颂赞</a></li>
        <li><a href="/#songs/纪念">纪念</a></li>
        <li><a href="/#songs/福音">福音</a></li>
        <li><a href="/#songs/教会">教会</a></li>
        <li><a href="/#songs/道路">道路</a></li>
        <li><a href="/#songs/灵交">灵交</a></li>
        <li><a href="/#songs/其它">其它</a></li>
        <li><a href="/#songs/附录">附录</a></li>
      </ul>
      <ul class="nav navbar-nav narrow-nav navbar-right">
        <li><a class="notification-indicator" href="javascript:;"><span class="mail-status unread">&nbsp;</span></a></li>
      </ul>
    </div>
  </div>
</div>