<div class="navbar-fixed-top player-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="PlayerContainer">
      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header dropdown">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="dropdown-toggle navbar-brand logo-container">赞美诗选编(1050首)<span class="logo"></span></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav narrow-nav">
        <li class="dropdown">
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">目录 <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/category_big/颂赞" tag="hash_url">颂赞 (1-115)</a></li>
            <li><a href="/category_big/纪念" tag="hash_url">纪念 (116-209)</a></li>
            <li><a href="/category_big/福音" tag="hash_url">福音 (210-370)</a></li>
            <li><a href="/category_big/教会" tag="hash_url">教会 (371-512)</a></li>
            <li><a href="/category_big/道路" tag="hash_url">道路 (513-738)</a></li>
            <li><a href="/category_big/灵交" tag="hash_url">灵交 (739-917)</a></li>
            <li><a href="/category_big/其它" tag="hash_url">其它 (918-1000)</a></li>
            <li><a href="/category_big/附录" tag="hash_url">附录 (1000-1050)</a></li>
          </ul>
        </li>
        <!-- <li><a href="/modification" tag="hash_url">添加诗歌</a></li> -->
        <li><a href="/dev-blog">网站开发博客</a></li>
      </ul>
      <form class="navbar-form navbar-right" role="search" action="/search" method="get">
        <% if session[:user_id] %>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="login-img"><img src="<%= session[:figure_url] %>" /></span>
              <span class="login-nickname"><%= session[:nickname] %></span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">我的诗歌单</a></li>
              <li class="divider"></li>
              <li><a href="/login?logout=true">注销</a></li>
            </ul>
          </div>
        <% else %>
          <a class="btn btn-default" href="/login">
            <span class="glyphicon glyphicon-user"></span>
          </a>
        <% end %>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="请输入关键字" name="keywords">
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
      </form>
      <!-- 
      <ul class="nav navbar-nav narrow-nav navbar-right">
        <li><a class="notification-indicator" href="javascript:;"><span class="mail-status unread">&nbsp;</span></a></li>
      </ul>
      -->
    </div>
  </div>
</div>