<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>赞美诗选编(1050首)</title>
  <meta name="keywords" content="赞美诗选编(1050首),赞美诗选编1050首,赞美诗选编,1050,基督教诗歌">
  <meta name="description" content="播放诗歌本《赞美诗选编1050首》的歌曲，查看歌谱，上传歌曲、歌谱，为你喜欢的歌曲、歌谱投票。">
  <link rel="shortcut icon" href="/favicon.ico" />
  <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
  <link href="/css/1050.css" rel="stylesheet" media="screen">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="/js/libs/html5shiv.js"></script>
    <script src="/js/libs/respond.min.js"></script>
  <![endif]-->
</head>
<body>

<%= erb :'inc/head' %>

<div class="wrap">

  <div class="container">
    <div class="row">
      <div class="page-header pull-left col-md-12 col-sm-12 col-xs-12">
      <div class="pull-left">
        <h3>公告声明</h3>
        <h4>谢谢大家，遗憾的说再见</h4>
      </div>
      <blockquote class="pull-right">
        <h3></h3>
        <h5>“ 我要照着耶和华的公义称谢他，歌颂耶和华至高者的名。”</h5>
        <small>诗篇7:17</small>
      </blockquote>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <br />
        <h4><strong>感谢大家关注，1050将停止更新</strong></h4>
        <br />
        <p>
          1050已经走过了三个年头。
        </p>
        <p>
          作者是一名基督徒，同时又是一名程序员。初衷只是学习和方便找歌，因为当时找歌找歌谱并不方便。
        </p>
        <p>
          感谢神！现在有了《诗歌本》这个应用，里面收集了各种诗歌本的诗歌，查看歌谱也非常方便。也感谢《诗歌本》的作者以及参与贡献的弟兄姊妹们！
        </p>
        <p>
          所以，1050从今天起将<b> 停止更新 </b>，也感谢大家一直以来的支持，谢谢你！
        </p>
        <p>
          如果弟兄姊妹有什么好的建议和想法，或者只是单纯的想和作者聊一聊，大家可以访问我的博客：
        </p>
        <p>
          <a target="_blank" href="http://mystist.github.io/">mystist.github.io</a>
        </p>
        <p>
          或发邮件联系我：
        </p>
        <p>
          <a target="_blank" href="http://mystist.github.io/">gjl87910lq@126.com</a>
        </p>
        <hr />
        <p>
          2016年5月15日
        </p>
      
      </div>
    </div>
  </div>
  
  <h4>&nbsp;</h4>

</div>

<%= erb :'inc/footer' %>

<script src="/js/libs/jquery.js"></script>
<script src="/js/libs/bootstrap.js"></script>

</body>
</html>
