<html>
<head>
  <title>赞美诗选编(1050首)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/bootstrap.css" rel="stylesheet" media="screen">
  <link href="css/bootstrap-theme.css" rel="stylesheet" media="screen">
  <link href="css/syntax.css" rel="stylesheet" media="screen">
  <link href="css/style.css" rel="stylesheet" media="screen">
</head>

<body>
  <p>这里是`赞美诗选编(1050首)`（以下简称：1050）的开发博客，记录着关于1050从无到有的一切。</p>
    <blockquote class="pull-right">
      <p>你们要赞美耶和华！向耶和华唱新歌，在圣民的会中赞美他。</p>
      <small>诗篇149:1</small>
    </blockquote>
  <%= yield %>
</body>
</html>