
<div class="container">
  <div class="page-header pull-left col-md-12">
    <div class="pull-left">
      <h3>首页</h3>
      <h4>向天父献上我们的赞美</h4>
    </div>
    <blockquote class="pull-right">
      <h3></h3>
      <h5>“ 来啊，我们要向耶和华歌唱，向拯救我们的磐石欢呼。”</h5>
      <small>诗篇95:1</small>
    </blockquote>
  </div>
</div>

<div class="container">
  <div class="col-md-12">
    <h4><strong>一、颂赞</strong></h4>
    <div class="panel panel-default">
      <div class="panel-heading">圣父(1-41)</div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>歌名</th>
            <th>歌词首句</th>
            <th>首数</th>
            <th width="100px">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>圣哉三一</td>
            <td>圣哉圣哉圣哉</td>
            <td>1</td>
            <td>
              <a class="btn btn-success btn-xs" href="javascript:;">播放</a>
              <a class="btn btn-primary btn-xs" href="javascript:;">编辑</a>
            </td>
          </tr>
          <tr>
            <td>亚伯拉罕之神</td>
            <td>亚伯拉罕之神</td>
            <td>2</td>
            <td>
              <a class="btn btn-success btn-xs" href="javascript:;">播放</a>
              <a class="btn btn-primary btn-xs" href="javascript:;">编辑</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-12">
    <h4><strong>一、颂赞</strong></h4>
    <div class="panel panel-default">
      <div class="panel-heading">圣父(1-41)</div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>歌名</th>
            <th>歌词首句</th>
            <th>首数</th>
            <th width="100px">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>圣哉三一</td>
            <td>圣哉圣哉圣哉</td>
            <td>1</td>
            <td>
              <a class="btn btn-success btn-xs" href="javascript:;">播放</a>
              <a class="btn btn-primary btn-xs" href="javascript:;">编辑</a>
            </td>
          </tr>
          <tr>
            <td>亚伯拉罕之神</td>
            <td>亚伯拉罕之神</td>
            <td>2</td>
            <td>
              <a class="btn btn-success btn-xs" href="javascript:;">播放</a>
              <a class="btn btn-primary btn-xs" href="javascript:;">编辑</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>