<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>赞美诗选编(1050首)</title>
  <meta name="keywords" content="赞美诗选编(1050首),赞美诗选编1050首,赞美诗选编,1050,基督教诗歌">
  <meta name="description" content="播放诗歌本《赞美诗选编1050首》的歌曲，查看歌谱，上传歌曲、歌谱，为你喜欢的歌曲、歌谱投票。">
  <link rel="shortcut icon" href="/favicon.ico" />
  <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
  <link href="/css/1050.css" rel="stylesheet" media="screen">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="/js/libs/html5shiv.js"></script>
    <script src="/js/libs/respond.min.js"></script>
  <![endif]-->
</head>
<body>

<%= erb :'inc/head' %>

<div class="wrap">

  <div class="container">
    <div class="row">
      <div class="page-header pull-left col-md-12 col-sm-12 col-xs-12">
      <div class="pull-left">
        <h3>数据接口</h3>
        <h4>一份耕耘，一份收货；一片忠心，永远纪念</h4>
      </div>
      <blockquote class="pull-right">
        <h3></h3>
        <h5>“ 我要照着耶和华的公义称谢他，歌颂耶和华至高者的名。”</h5>
        <small>诗篇7:17</small>
      </blockquote>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <h4><strong>导入诗歌</strong></h4>
        
        <form role="form" method="post" enctype="multipart/form-data" accept-charset="utf-8">
          <div class="form-group">
            <label>请选择Excel文件</label>
            <input type="file" name="song_file" value="song_file" />
            <p class="help-block">注：请严格按照样本Excel的格式进行导入。<a href="/images/1050_songs.xlsx">样本Excel下载</a></p>
          </div>
          <button type="submit" class="btn btn-default">确 定</button>
        </form>
        
        <hr />
        
        <h4><strong>导入资源</strong></h4>
        
        <form role="form" method="post" enctype="multipart/form-data" accept-charset="utf-8">
          <div class="form-group">
            <label>请选择Excel文件</label>
            <input type="file" name="resource_file" value="resource_file" />
            <p class="help-block">注：请严格按照样本Excel的格式进行导入。<a href="/images/1050_resources.xlsx">样本Excel下载</a></p>
          </div>
          <button type="submit" class="btn btn-default">确 定</button>
        </form>
      
      </div>
    </div>
  </div>
  
  <h4>&nbsp;</h4>

</div>

<%= erb :'inc/footer' %>

<script src="/js/libs/jquery.js"></script>
<script src="/js/libs/bootstrap.js"></script>

</body>
</html>
