
  <div class="container">
    <div class="row">
      <div class="page-header pull-left col-md-12 col-sm-12 col-xs-12">
      <div class="pull-left">
        <h3>数据接口</h3>
        <h4>一份耕耘，一份收货；一片忠心，永远纪念</h4>
      </div>
      <blockquote class="pull-right">
        <h3></h3>
        <h5>“ 我要照着耶和华的公义称谢他，歌颂耶和华至高者的名。”</h5>
        <small>诗篇7:17</small>
      </blockquote>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="page-header">
          <h4><strong>导入诗歌</strong></h4>
        </div>
        
        <form role="form" method="post" enctype="multipart/form-data" accept-charset="utf-8">
          <div class="form-group">
            <label>请选择Excel文件</label>
            <input type="file" name="song_file" value="song_file" />
            <p class="help-block">注：请严格按照样本Excel的格式进行导入。<a href="/images/1050_songs.xlsx">样本Excel下载</a></p>
          </div>
          <button type="submit" class="btn btn-default">确 定</button>
        </form>
        
        <div class="page-header">
          <h4><strong>导入资源</strong></h4>
        </div>
        
        <form role="form" method="post" enctype="multipart/form-data" accept-charset="utf-8">
          <div class="form-group">
            <label>请选择Excel文件</label>
            <input type="file" name="resource_file" value="resource_file" />
            <p class="help-block">注：请严格按照样本Excel的格式进行导入。<a href="/images/1050_resources.xlsx">样本Excel下载</a></p>
          </div>
          <button type="submit" class="btn btn-default">确 定</button>
        </form>
      
      </div>
    </div>
  </div>
  
  <h4>&nbsp;</h4>
