
<div class="container">
  <div class="page-header pull-left col-md-12">
  <div class="pull-left">
    <h3>添加诗歌</h3>
    <h4>为1050添加没有的诗歌，为福音贡献自己的力量</h4>
  </div>
  <blockquote class="pull-right">
    <h3></h3>
    <h5>“ 你们要赞美耶和华！在神的圣所赞美他，在他显能力的穹苍赞美他。”</h5>
    <small>诗篇150:1</small>
  </blockquote>
  </div>
</div>

<div class="container">
  <div class="col-md-12">
    <form role="form" action="/modification" method="post">
      <div class="form-group">
        <h4><label>首数：<small><code>（示例：795）</code></small></label></h4>
        <input name="index" type="text" class="form-control" placeholder="">
      </div>
      <div class="form-group">
        <h4><label>歌名：<small><code>（示例：你是我唯一诗歌）</code></small></label></h4>
        <input name="name" type="text" class="form-control" placeholder="">
      </div>
      <div class="form-group">
        <h4><label>分类目录，大类：（详见诗歌本第二页）<small><code>（示例：灵交）</code></small></label></h4>
        <select name="category_big" class="form-control">
          <option></option>
          <option>颂赞</option>
          <option>纪念</option>
          <option>福音</option>
          <option>教会</option>
          <option>道路</option>
          <option>灵交</option>
          <option>其它</option>
          <option>附录</option>
        </select>
      </div>
      <div class="form-group">
        <h4><label>分类目录，小类：（详见诗歌本第二页）<small><code>（示例：培灵奋兴）</code></small></label></h4>
        <select name="category_small" class="form-control">
          <option></option>
          <option>--</option>
          <option>圣父</option>
          <option>圣子</option>
          <option>圣灵</option>
          <option>--</option>
          <option>耶稣降生</option>
          <option>耶稣受难</option>
          <option>复活升天</option>
          <option>再来审判</option>
          <option>--</option>
          <option>宣召</option>
          <option>悔改相信</option>
          <option>平安喜乐</option>
          <option>笃信见证</option>
          <option>--</option>
          <option>礼拜</option>
          <option>洗礼</option>
          <option>晚餐</option>
          <option>《圣经》</option>
          <option>祈祷</option>
          <option>团契</option>
          <option>步道</option>
          <option>灵战</option>
          <option>青年</option>
          <option>儿童</option>
          <option>--</option>
          <option>信心</option>
          <option>引导</option>
          <option>顺服</option>
          <option>奉献</option>
          <option>忠心</option>
          <option>受苦</option>
          <option>安慰</option>
          <option>事奉</option>
          <option>指望</option>
          <option>天家</option>
          <option>--</option>
          <option>追求圣洁</option>
          <option>与神合一</option>
          <option>培灵奋兴</option>
          <option>敬虔感谢</option>
          <option>--</option>
          <option>诗篇</option>
          <option>家庭</option>
          <option>婚礼</option>
          <option>丧礼</option>
          <option>病中</option>
          <option>落成</option>
          <option>国家</option>
          <option>时序</option>
          <option>离别</option>
          <option>--</option>
          <option>短歌</option>
        </select>
      </div>
      <div class="form-group">
        <h4><label>歌词首句：<small><code>（示例：你是我心中）</code></small></label></h4>
        <input name="first_sentence" type="text" class="form-control" placeholder="">
      </div>
      <div class="form-group">
        <h4><label>上传歌谱：</label></h4>
        <h4><input type="file"></h4>
      </div>
      <div class="form-group">
        <h4><label>上传歌曲：</label></h4>
        <h4><input type="file"></h4>
      </div>
      <h1></h1>
      <button type="submit" class="btn btn-lg btn-success">确 定</button>
      <h1></h1>
    </form>
  </div>
</div>