html,
body {
  height: 100%;
}
h4 {
  font-size: 16px;
}
.navbar {
  font-size: 16px;
}
.navbar .navbar-brand {
  font-size: 20px;
}
.page-header {
  margin: 10px 0 10px;
}
.table th, .table td {
  padding-left: 15px !important;
}
.alert {
  padding: 6px 15px;
  margin-bottom: 0;
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 50px 0 60px;
}
.footer {
  height: 60px;
  background-color: #f5f5f5;
}
.container .credit {
margin: 20px 0;
}
.notification-indicator {
	float:right;
	width:50px;
	height:50px;
	margin:0 -37px;
	text-align:center;
	line-height:50px
}
.notification-indicator .mail-status {
	display:inline-block;
	width:8px;
	height:8px;
	border-radius:100px;
	background-color:#aaa;
	background-color:#cccccc;
	background-image:-moz-linear-gradient(#aaa,#ccc);
	background-image:-webkit-linear-gradient(#aaa,#ccc);
	background-image:linear-gradient(#aaa,#ccc);
	background-repeat:repeat-x;
	box-shadow:inset 0 1px 0 rgba(0,0,0,0.1),0 1px 0 #fff
}
.notification-indicator:hover .mail-status {
	background-color:#bbbbbb;
	background-image:-moz-linear-gradient(#999,#bbb);
	background-image:-webkit-linear-gradient(#999,#bbb);
	background-image:linear-gradient(#999,#bbb);
	background-repeat:repeat-x
}
.notification-indicator .unread {
  background-color: #57D113;
  background-image: -moz-linear-gradient(#60C441,#57D113);
  background-image: -webkit-linear-gradient(#60C441,#57D113);
  background-image: linear-gradient(#60C441,#57D113);
  background-repeat: repeat-x;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 0 rgba(0,0,0,0.1),0 0 10px #60C441;
}
.notification-indicator:hover .unread {
	background-color:#13B813;
	background-image:-moz-linear-gradient(#4EA234,#13B813);
	background-image:-webkit-linear-gradient(#4EA234,#13B813);
	background-image:linear-gradient(#4EA234,#13B813);
	background-repeat:repeat-x
}
.notification-indicator.contextually-unread {
	position:relative;
	z-index:2;
	margin:0 -16px -1px -17px;
	padding-left:1px;
	background-color:#d2e4f9;
	background-image:-moz-linear-gradient(#e9f2fc,#d2e4f9);
	background-image:-webkit-linear-gradient(#e9f2fc,#d2e4f9);
	background-image:linear-gradient(#e9f2fc,#d2e4f9);
	background-repeat:repeat-x;
	border:solid #c2d5eb;
	border-width:0 1px 1px;
	box-shadow:inset 1px 0 rgba(255,255,255,0.5)
}
.notification-indicator.contextually-unread:hover {
	background-position:0 -15px
}
.site-footer {
	position:relative;
	margin-top:40px;
	padding-top:40px;
	padding-bottom:40px;
	font-size:12px;
	line-height:1.5;
	color:#777;
	border-top:1px solid #eee
}
.logo-container {
float: left;
padding: 10px 10px 0 0;
}
.logo-container .logo {
float: left;
width: 28px;
height: 32px;
background-image: url('../images/logo.png')
}