<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Player</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/js/libs/audiojs/custom.css" rel="stylesheet" media="screen">
    <script src="/js/libs/audiojs/audio.js"></script>
    <script>
      var audios = document.getElementsByTagName('audio');
      audiojs.events.ready(function() {
        var as = audiojs.create(audios[0], {
          autoplay: true,
          css: false,
          createPlayer: {
            markup: false,
            playPauseClass: 'play-pause',
            scrubberClass: 'scrubber',
            progressClass: 'progress',
            loaderClass: 'loaded',
            timeClass: 'time',
            durationClass: 'duration',
            playedClass: 'played',
            errorMessageClass: 'error-message',
            playingClass: 'playing',
            loadingClass: 'loading',
            errorClass: 'error'
          }
        });
      });
    </script>
  </head>
  <body>
    <div class="container audiojs">
    <audio src="http://liber-1050.u.qiniudn.com/05.Kiss.mp3" preload="auto" ></audio>
    <div class="row">
      <div class="col-md-1 col-sm-1 col-xs-1">
        <div class="play-pause">
          <p class="play"><span class="glyphicon glyphicon-play"></span></p>
          <p class="pause"><span class="glyphicon glyphicon-pause"></span></p>
          <p class="loading"><span class="glyphicon glyphicon-time"></span></p>
          <p class="error"><span class="glyphicon glyphicon-remove"></span></p>
        </div>
      </div>
      <div class="col-md-9 col-sm-9 col-xs-9">
        <div class="scrubber">
          <div class="progress"></div>
          <div class="loaded"></div>
        </div>
        <div class="error-message"></div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2">
        <div class="time">
          <em class="played">00:00</em>/<strong class="duration">00:00</strong>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>