<div>

<script id="ResourceTemplate" type="text/template">

<% var m = model.toJSON(); %>
<td><%= m.file_name %></td>
<td><%= (m.file_size/1000000).toFixed(2) %>MB</td>
<td><%= helper.formatDateTime(m.uploaded_time, "second") %></td>
<td tag="stars"></td>
<td>
  <div class="btn-group" tag="resource_star_container">
  </div>
</td>
<td>
  <% if(m.file_type == "song") { %>
    <button type="button" class="btn btn-success btn-xs">播放</button>
  <% } %>
  <% if(m.file_type == "pic") { %>
    <button type="button" class="btn btn-warning btn-xs">查看</button>
  <% } %>
  <button type="button" class="btn btn-primary btn-xs">下载</button>
  <button type="button" class="btn btn-default btn-xs" tag="delete_resource" data-toggle="tooltip" title="双击">删除</button>
</td>

</script>

<script id="ResourceStarTemplate" type="text/template">
  <% var m = model?model.toJSON():null; %>
  <button type="button" class="btn btn-xs <%= (m&&m.current==1)?"btn-info":"btn-default" %>" tag="up">顶</button>
  <button type="button" class="btn btn-xs <%= (m&&m.current==-1)?"btn-info":"btn-default" %>" tag="down">踩</button>
</script>

</div>