<div>

<script id="ResourceTemplate" type="text/template">

<% var m = model.toJSON(); %>
<td><%= m.file_name %></td>
<td><%= (m.file_size/1000000).toFixed(2) %>MB</td>
<td><%= helper.formatDateTime(m.uploaded_time, "second") %></td>
<td><%= m.stars %></td>
<td>
  <div class="btn-group">
    <button type="button" class="btn btn-info btn-xs">顶</button>
    <button type="button" class="btn btn-default btn-xs">踩</button>
  </div>
  <label>&nbsp;&nbsp;</label>
    <% if(m.file_type == "song") { %>
      <button type="button" class="btn btn-success btn-xs">播放</button>
    <% } %>
    <% if(m.file_type == "pic") { %>
      <button type="button" class="btn btn-warning btn-xs">查看</button>
    <% } %>
    <button type="button" class="btn btn-primary btn-xs">下载</button>
    <button type="button" class="btn btn-danger btn-xs" tag="delete_resource">删除</button>
</td>

</script>

</div>