<div>

<script id="ShowSongTemplate" type="text/template">

<% var list = model.toJSON(); %>
<div class="container">
  <div class="page-header pull-left col-md-12">
    <div class="pull-left">
      <h3>诗歌列表<label><h5>（<%= list?list.length:0 %>首）</h5></label></h3>
      <h4>向天父献上我们的赞美</h4>
    </div>
    <blockquote class="pull-right">
      <h3></h3>
      <h5>“ 来啊，我们要向耶和华歌唱，向拯救我们的磐石欢呼。”</h5>
      <small>诗篇95:1</small>
    </blockquote>
  </div>
</div>

<div class="container">
  <div id="SongListContainer"></div>
</div>

</script>

<script id="SongListTemplate" type="text/template">

  <%
    var list = model.toJSON();
    var categoryBig = _.uniq(_.map(list, function(obj) {
      return obj['category_big'];
    }));
  %>

  <% _.each(categoryBig, function(item) { %>
  <div class="col-md-12">
    <h4><strong><%= item %></strong></h4>
    <%
      var curList = _.filter(list, function(obj) {
        return obj["category_big"] == item;
      });
      var curCategorySmall = _.uniq(_.map(curList, function(obj) {
        return obj['category_small'];
      }));
    %>
    <% _.each(curCategorySmall, function(subItem) { %>
    <div class="panel panel-default">
      <div class="panel-heading"><%= subItem %></div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th width="300px">歌名</th>
            <th>歌词首句</th>
            <th width="100px">首数</th>
            <th width="200px">操作</th>
          </tr>
        </thead>
        <tbody>
          <%
            var curCurList = _.filter(curList, function(obj) {
              return obj["category_small"] == subItem;
            });
          %>
          <% _.each(curCurList, function(m) { %>
            <tr>
              <td>《<%= m.name %>》</td>
              <td><%= m.first_sentence %></td>
              <td><%= m.index %></td>
              <td>
                <a class="btn btn-success btn-xs" href="javascript:;">播放</a>
                <a class="btn btn-primary btn-xs" href="#modification/<%= m.id %>">编辑</a>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <% }); %>
  </div>
  <% }); %>

</script>

<script id="EditSongTemplate" type="text/template">

<% var m = model.id?model.toJSON():null; %>

<div class="container">
  <div class="page-header pull-left col-md-12">
    <div class="pull-left">
      <h3><%= m ? "修改诗歌" : "添加诗歌" %></h3>
      <h4>为福音贡献我们的力量</h4>
    </div>
    <blockquote class="pull-right">
      <h3></h3>
      <h5>“ 你们要赞美耶和华！在神的圣所赞美他，在他显能力的穹苍赞美他。”</h5>
      <small>诗篇150:1</small>
    </blockquote>
  </div>
</div>

<div class="container">
  <div class="col-md-12">
    <form role="form">

      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <h4><label>首数：<small><code>（示例：795）</code></small></label></h4>
            <input name="index" type="text" class="form-control" placeholder="" value="<%= m ? m.index : "" %>" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <h4><label>&nbsp;</label></h4>
            <div tag="alert"></div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <h4><label>歌名：<small><code>（示例：你是我唯一诗歌）</code></small></label></h4>
            <input name="name" type="text" class="form-control" placeholder="" value="<%= m ? m.name : "" %>" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <h4><label>&nbsp;</label></h4>
            <div tag="alert"></div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <h4><label>分类目录，大类：（详见诗歌本第二页）<small><code>（示例：灵交）</code></small></label></h4>
            <select name="category_big" class="form-control">
              <option value=""></option>
              <option value="颂赞" <%= m&&(m.category_big=="颂赞") ? " selected='selected' " : "" %> >颂赞</option>
              <option value="纪念" <%= m&&(m.category_big=="纪念") ? " selected='selected' " : "" %> >纪念</option>
              <option value="福音" <%= m&&(m.category_big=="福音") ? " selected='selected' " : "" %> >福音</option>
              <option value="教会" <%= m&&(m.category_big=="教会") ? " selected='selected' " : "" %> >教会</option>
              <option value="道路" <%= m&&(m.category_big=="道路") ? " selected='selected' " : "" %> >道路</option>
              <option value="灵交" <%= m&&(m.category_big=="灵交") ? " selected='selected' " : "" %> >灵交</option>
              <option value="其它" <%= m&&(m.category_big=="其它") ? " selected='selected' " : "" %> >其它</option>
              <option value="附录" <%= m&&(m.category_big=="附录") ? " selected='selected' " : "" %> >附录</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <h4><label>&nbsp;</label></h4>
            <div tag="alert"></div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <h4><label>分类目录，小类：（详见诗歌本第二页）<small><code>（示例：培灵奋兴）</code></small></label></h4>
            <select name="category_small" class="form-control">
              <option value=""></option>
              <option value="">---- 颂赞 ----</option>
              <option value="圣父" <%= m&&(m.category_small=="圣父") ? " selected='selected' " : "" %> >圣父</option>
              <option value="圣子" <%= m&&(m.category_small=="圣子") ? " selected='selected' " : "" %> >圣子</option>
              <option value="圣灵" <%= m&&(m.category_small=="圣灵") ? " selected='selected' " : "" %> >圣灵</option>
              <option value="">---- 纪念 ----</option>
              <option value="耶稣降生" <%= m&&(m.category_small=="耶稣降生") ? " selected='selected' " : "" %> >耶稣降生</option>
              <option value="耶稣受难" <%= m&&(m.category_small=="耶稣受难") ? " selected='selected' " : "" %> >耶稣受难</option>
              <option value="复活升天" <%= m&&(m.category_small=="复活升天") ? " selected='selected' " : "" %> >复活升天</option>
              <option value="再来审判" <%= m&&(m.category_small=="再来审判") ? " selected='selected' " : "" %> >再来审判</option>
              <option value="">---- 福音 ----</option>
              <option value="宣召" <%= m&&(m.category_small=="宣召") ? " selected='selected' " : "" %> >宣召</option>
              <option value="悔改相信" <%= m&&(m.category_small=="悔改相信") ? " selected='selected' " : "" %> >悔改相信</option>
              <option value="平安喜乐" <%= m&&(m.category_small=="平安喜乐") ? " selected='selected' " : "" %> >平安喜乐</option>
              <option value="笃信见证" <%= m&&(m.category_small=="笃信见证") ? " selected='selected' " : "" %> >笃信见证</option>
              <option value="">---- 教会 ----</option>
              <option value="礼拜" <%= m&&(m.category_small=="礼拜") ? " selected='selected' " : "" %> >礼拜</option>
              <option value="洗礼" <%= m&&(m.category_small=="洗礼") ? " selected='selected' " : "" %> >洗礼</option>
              <option value="晚餐" <%= m&&(m.category_small=="晚餐") ? " selected='selected' " : "" %> >晚餐</option>
              <option value="《圣经》" <%= m&&(m.category_small=="《圣经》") ? " selected='selected' " : "" %> >《圣经》</option>
              <option value="祈祷" <%= m&&(m.category_small=="祈祷") ? " selected='selected' " : "" %> >祈祷</option>
              <option value="团契" <%= m&&(m.category_small=="团契") ? " selected='selected' " : "" %> >团契</option>
              <option value="步道" <%= m&&(m.category_small=="步道") ? " selected='selected' " : "" %> >步道</option>
              <option value="灵战" <%= m&&(m.category_small=="灵战") ? " selected='selected' " : "" %> >灵战</option>
              <option value="青年" <%= m&&(m.category_small=="青年") ? " selected='selected' " : "" %> >青年</option>
              <option value="儿童" <%= m&&(m.category_small=="儿童") ? " selected='selected' " : "" %> >儿童</option>
              <option value="">---- 道路 ----</option>
              <option value="信心" <%= m&&(m.category_small=="信心") ? " selected='selected' " : "" %> >信心</option>
              <option value="引导" <%= m&&(m.category_small=="引导") ? " selected='selected' " : "" %> >引导</option>
              <option value="顺服" <%= m&&(m.category_small=="顺服") ? " selected='selected' " : "" %> >顺服</option>
              <option value="奉献" <%= m&&(m.category_small=="奉献") ? " selected='selected' " : "" %> >奉献</option>
              <option value="忠心" <%= m&&(m.category_small=="忠心") ? " selected='selected' " : "" %> >忠心</option>
              <option value="受苦" <%= m&&(m.category_small=="受苦") ? " selected='selected' " : "" %> >受苦</option>
              <option value="安慰" <%= m&&(m.category_small=="安慰") ? " selected='selected' " : "" %> >安慰</option>
              <option value="事奉" <%= m&&(m.category_small=="事奉") ? " selected='selected' " : "" %> >事奉</option>
              <option value="指望" <%= m&&(m.category_small=="指望") ? " selected='selected' " : "" %> >指望</option>
              <option value="天家" <%= m&&(m.category_small=="天家") ? " selected='selected' " : "" %> >天家</option>
              <option value="">---- 灵交 ----</option>
              <option value="追求圣洁" <%= m&&(m.category_small=="追求圣洁") ? " selected='selected' " : "" %> >追求圣洁</option>
              <option value="与神合一" <%= m&&(m.category_small=="与神合一") ? " selected='selected' " : "" %> >与神合一</option>
              <option value="培灵奋兴" <%= m&&(m.category_small=="培灵奋兴") ? " selected='selected' " : "" %> >培灵奋兴</option>
              <option value="敬虔感谢" <%= m&&(m.category_small=="敬虔感谢") ? " selected='selected' " : "" %> >敬虔感谢</option>
              <option value="">---- 其它 ----</option>
              <option value="诗篇" <%= m&&(m.category_small=="诗篇") ? " selected='selected' " : "" %> >诗篇</option>
              <option value="家庭" <%= m&&(m.category_small=="家庭") ? " selected='selected' " : "" %> >家庭</option>
              <option value="婚礼" <%= m&&(m.category_small=="婚礼") ? " selected='selected' " : "" %> >婚礼</option>
              <option value="丧礼" <%= m&&(m.category_small=="丧礼") ? " selected='selected' " : "" %> >丧礼</option>
              <option value="病中" <%= m&&(m.category_small=="病中") ? " selected='selected' " : "" %> >病中</option>
              <option value="落成" <%= m&&(m.category_small=="落成") ? " selected='selected' " : "" %> >落成</option>
              <option value="国家" <%= m&&(m.category_small=="国家") ? " selected='selected' " : "" %> >国家</option>
              <option value="时序" <%= m&&(m.category_small=="时序") ? " selected='selected' " : "" %> >时序</option>
              <option value="离别" <%= m&&(m.category_small=="离别") ? " selected='selected' " : "" %> >离别</option>
              <option value="">---- 附录 ----</option>
              <option value="短歌" <%= m&&(m.category_small=="短歌") ? " selected='selected' " : "" %> >短歌</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <h4><label>&nbsp;</label></h4>
            <div tag="alert"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <h4><label>歌词首句：<small><code>（示例：你是我心中）</code></small></label></h4>
            <input name="first_sentence" type="text" class="form-control" placeholder="" value="<%= m ? m.first_sentence : "" %>" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <h4><label>&nbsp;</label></h4>
            <div tag="alert"></div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <h4><label>上传歌曲：</label></h4>
            <h4><input name="uploaded_song" type="file" /></h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <h4><label>&nbsp;</label></h4>
            <div tag="alert"></div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <h4><label>上传歌谱：</label></h4>
            <h4><input name="uploaded_pic" type="file" /></h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <h4><label>&nbsp;</label></h4>
            <div tag="alert"></div>
          </div>
        </div>
      </div>
      <hr />
      
      <div class="row">
        <div class="col-md-4">
          <button tag="submit" type="button" class="btn btn-success">确 定</button>
          <label>&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <button tag="del" type="button" class="btn btn-danger">删除这首诗歌？（双击）</button>
        </div>
        <div class="col-md-8">
          <div tag="alert">
          </div>
        </div>
      </div>
      <hr />
      
    </form>
  </div>
</div>

</script>

</div>