<div>

<script id="ShowSongTemplate" type="text/template">

<div class="container">
  <div class="page-header pull-left col-md-12">
    <div class="pull-left">
      <h3>诗歌列表</h3>
      <h4>向天父献上我们的赞美</h4>
    </div>
    <blockquote class="pull-right">
      <h3></h3>
      <h5>“ 来啊，我们要向耶和华歌唱，向拯救我们的磐石欢呼。”</h5>
      <small>诗篇95:1</small>
    </blockquote>
  </div>
</div>

<div class="container">
  <div id="SongListContainer"></div>
</div>

</script>

<script id="SongListTemplate" type="text/template">

  <%
    var list = model.toJSON();
    var categoryBig = _.uniq(_.map(list, function(obj) {
      return obj['category_big'];
    }));
  %>

  <% _.each(categoryBig, function(item) { %>
  <div class="col-md-12">
    <h4><strong><%= item %></strong></h4>
    <%
      var curList = _.filter(list, function(obj) {
        return obj["category_big"] == item;
      });
      var curCategorySmall = _.uniq(_.map(curList, function(obj) {
        return obj['category_small'];
      }));
    %>
    <% _.each(curCategorySmall, function(subItem) { %>
    <div class="panel panel-default">
      <div class="panel-heading"><%= subItem %></div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th width="300px">歌名</th>
            <th>歌词首句</th>
            <th width="100px">首数</th>
            <th width="200px">操作</th>
          </tr>
        </thead>
        <tbody>
          <%
            var curCurList = _.filter(curList, function(obj) {
              return obj["category_small"] == subItem;
            });
          %>
          <% _.each(curCurList, function(m) { %>
            <tr>
              <td>《<%= m.name %>》</td>
              <td><%= m.first_sentence %></td>
              <td><%= m.index %></td>
              <td>
                <a class="btn btn-success btn-xs" href="javascript:;">播放</a>
                <a class="btn btn-primary btn-xs" href="#modification/<%= m.id %>">编辑</a>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <% }); %>
  </div>
  <% }); %>

</script>

<script id="EditSongTemplate" type="text/template">

<div class="container">
  <div class="page-header pull-left col-md-12">
    <div class="pull-left">
      <h3>添加诗歌</h3>
      <h4>为福音贡献我们的力量</h4>
    </div>
    <blockquote class="pull-right">
      <h3></h3>
      <h5>“ 你们要赞美耶和华！在神的圣所赞美他，在他显能力的穹苍赞美他。”</h5>
      <small>诗篇150:1</small>
    </blockquote>
  </div>
</div>

<div class="container">
  <div class="col-md-12">
    <form role="form">
      <div class="form-group">
        <h4><label>首数：<small><code>（示例：795）</code></small></label></h4>
        <input name="index" type="text" class="form-control" placeholder="">
      </div>
      <div class="form-group">
        <h4><label>歌名：<small><code>（示例：你是我唯一诗歌）</code></small></label></h4>
        <input name="name" type="text" class="form-control" placeholder="">
      </div>
      <div class="form-group">
        <h4><label>分类目录，大类：（详见诗歌本第二页）<small><code>（示例：灵交）</code></small></label></h4>
        <select name="category_big" class="form-control">
          <option></option>
          <option>颂赞</option>
          <option>纪念</option>
          <option>福音</option>
          <option>教会</option>
          <option>道路</option>
          <option>灵交</option>
          <option>其它</option>
          <option>附录</option>
        </select>
      </div>
      <div class="form-group">
        <h4><label>分类目录，小类：（详见诗歌本第二页）<small><code>（示例：培灵奋兴）</code></small></label></h4>
        <select name="category_small" class="form-control">
          <option></option>
          <option>---- 颂赞 ----</option>
          <option>圣父</option>
          <option>圣子</option>
          <option>圣灵</option>
          <option>---- 纪念 ----</option>
          <option>耶稣降生</option>
          <option>耶稣受难</option>
          <option>复活升天</option>
          <option>再来审判</option>
          <option>---- 福音 ----</option>
          <option>宣召</option>
          <option>悔改相信</option>
          <option>平安喜乐</option>
          <option>笃信见证</option>
          <option>---- 教会 ----</option>
          <option>礼拜</option>
          <option>洗礼</option>
          <option>晚餐</option>
          <option>《圣经》</option>
          <option>祈祷</option>
          <option>团契</option>
          <option>步道</option>
          <option>灵战</option>
          <option>青年</option>
          <option>儿童</option>
          <option>---- 道路 ----</option>
          <option>信心</option>
          <option>引导</option>
          <option>顺服</option>
          <option>奉献</option>
          <option>忠心</option>
          <option>受苦</option>
          <option>安慰</option>
          <option>事奉</option>
          <option>指望</option>
          <option>天家</option>
          <option>---- 灵交 ----</option>
          <option>追求圣洁</option>
          <option>与神合一</option>
          <option>培灵奋兴</option>
          <option>敬虔感谢</option>
          <option>---- 其它 ----</option>
          <option>诗篇</option>
          <option>家庭</option>
          <option>婚礼</option>
          <option>丧礼</option>
          <option>病中</option>
          <option>落成</option>
          <option>国家</option>
          <option>时序</option>
          <option>离别</option>
          <option>---- 附录 ----</option>
          <option>短歌</option>
        </select>
      </div>
      <div class="form-group">
        <h4><label>歌词首句：<small><code>（示例：你是我心中）</code></small></label></h4>
        <input name="first_sentence" type="text" class="form-control" placeholder="">
      </div>
      <div class="form-group">
        <h4><label>上传歌谱：</label></h4>
        <h4><input type="file"></h4>
      </div>
      <div class="form-group">
        <h4><label>上传歌曲：</label></h4>
        <h4><input type="file"></h4>
      </div>
      <hr />
      <button type="submit" class="btn btn-success">确定</button>
      <h1></h1>
    </form>
  </div>
</div>

</script>

</div>