<div>

<script id="ShowSongTemplate" type="text/template">

<% var list = collection.toJSON(); %>
<div class="container">
  <div class="row">
    <div class="page-header pull-left col-md-12 col-sm-12 col-xs-12">
      <div class="pull-left">
        <h3><%= app.categoryName ? app.categoryName : "首页" %><small>（<%= list?list.length:0 %>首）</small></h3>
        <h4>向天父献上我们的赞美</h4>
      </div>
      <blockquote class="pull-right">
        <h3></h3>
        <h5>“ 来啊，我们要向耶和华歌唱，向拯救我们的磐石欢呼。”</h5>
        <small>诗篇95:1</small>
      </blockquote>
    </div>
  </div>
</div>

<div class="container">
  <div id="PagerContainer"></div>
  <div id="SongsContainer"></div>
</div>

</script>

<script id="SongsTemplate_old" type="text/template">

  <%
    var list = collection.toJSON();
  %>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h1></h1>
      <div class="panel panel-default">
        <div class="panel-heading">诗歌列表</div>
        <table class="table table-condensed table-hover" tag="songsContainer">
          <thead>
            <tr>
              <th class="col-md-4 col-sm-4 col-xs-4">歌名</th>
              <th class="col-md-5 col-sm-4 col-xs-4">歌词首句</th>
              <th class="col-md-1 col-sm-1 col-xs-1">首数</th>
              <th class="col-md-2 col-sm-3 col-xs-3">操作</th>
            </tr>
          </thead>
          <tbody>
          <% _.each(list, function(m) { %>
            <tr song_id="<%= m.id %>" >
              <td>《<%= m.name %>》</td>
              <td><%= m.first_sentence %></td>
              <td><%= m.index %></td>
              <td>
                <!-- <a class="btn btn-warning btn-xs" <%= m.pic_src ? "" : "disabled='disabled'" %> data-toggle="popover" data-content="<a href='<%= m.pic_src ? (config.bucketUrl + encodeURIComponent(m.pic_src)) : "javascript:;" %>' target='_blank' style='display: block; width: 200px; height: 300px;'><img src='<%= m.pic_src ? (config.bucketUrl + encodeURIComponent(m.pic_src) + "?imageView2/1/w/200/h/300") : "" %>' /></a>" >歌谱</a> -->
                <a class="btn btn-warning btn-xs" <%= m.pic_src ? '' : 'disabled="disabled"' %> href="<%= m.pic_src ? (config.bucketUrl + encodeURIComponent(m.pic_src)) : 'javascript:;' %>" target="_blank" >歌谱</a>
                <a class="btn btn-success btn-xs" href="javascript:;" <%= m.song_src ? "" : "disabled='disabled'" %> tag="play">播放</a>
                <a class="btn btn-primary btn-xs" href="modification/<%= m.id %>" tag="hash_url">编辑</a>
              </td>
            </tr>
          <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</script>

<script id="SongsTemplate" type="text/template">

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="bootstrap-waterfall"></div>
    </div>
  </div>

</script>

<script id="bootstrap-waterfall-template" type="text/template">

  <% var list = collection.toJSON(); %>
  
  <% _.each(list, function(m) { %>
    <ul class="list-group" song_id="<%= m.id %>">
      <li class="list-group-item">
        <a href="<%= m.pic_src ? (config.bucketUrl + encodeURIComponent(m.pic_src)) : 'javascript:;' %>" target="_blank">
          <img src="<%= m.pic_src ? (config.bucketUrl + encodeURIComponent(m.pic_src) + '?imageView2/2/w/272') : '' %>" />
        </a>
      </li>
      <li class="list-group-item">
        <a class="btn btn-default btn-xs" title="播放" href="javascript:;" <%= m.song_src ? "" : "disabled='disabled'" %> tag="play"><span class="glyphicon glyphicon-headphones"></span></a>
        <% if(userId) { %>
          <a class="btn btn-default btn-xs" title="添加到「我的诗歌单」" href="javascript:;" tag="add"><span class="glyphicon glyphicon-plus"></span></a>
        <% } %>
        <a class="btn btn-default btn-xs pull-right" title="编辑" href="modification/<%= m.id %>" tag="hash_url"><span class="glyphicon glyphicon-cog"></span></a>
      </li>
    </ul>
  <% }); %>

</script>

<script id="SongTemplate" type="text/template">

  <% var m = model.toJSON(); %>

  <td>《<%= m.name %>》</td>
  <td><%= m.first_sentence %></td>
  <td><%= m.index %></td>
  <td>
    <a class="btn btn-warning btn-xs" <%= m.pic_src ? '' : 'disabled="disabled"' %> href="<%= m.pic_src ? (config.bucketUrl + encodeURIComponent(m.pic_src)) : 'javascript:;' %>" target="_blank" >歌谱</a>
    <a class="btn btn-success btn-xs" href="javascript:;" <%= m.song_src ? "" : "disabled='disabled'" %> tag="play">播放</a>
    <a class="btn btn-primary btn-xs" href="modification/<%= m.id %>" tag="hash_url">编辑</a>
  </td>
  
</script>

<script id="PagerTemplate" type="text/template">
  <h1></h1>
  <ul class="pagination">
    <li <% if(curPage == 1) print('class="disabled"') %> ><a href="javascript:;" tag="prev">&laquo;</a></li>
    <% for(var i = 1; i <= totalPage; i++) { %>
      <% if(i == curPage) { %>
        <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>  
      <% } else { %>
        <li><a href="javascript:;"><%= i %></a></li>
      <% } %>
    <% } %>
    <li <% if(curPage == totalPage) print('class="disabled"') %> ><a href="javascript:;" tag="next">&raquo;</a></li>
  </ul>
</script>

<script id="EditSongTemplate" type="text/template">

<% var m = model.id?model.toJSON():null; %>

<div class="container">
  <div class="row">
    <div class="page-header pull-left col-md-12 col-sm-12 col-xs-12">
      <div class="pull-left">
        <h3><%= m ? "修改诗歌" : "添加诗歌" %></h3>
        <h4>为福音贡献我们的力量</h4>
      </div>
      <blockquote class="pull-right">
        <h3></h3>
        <h5>“ 你们要赞美耶和华！在神的圣所赞美他，在他显能力的穹苍赞美他。”</h5>
        <small>诗篇150:1</small>
      </blockquote>
    </div>
  </div>
</div>

<div class="container">

  <form role="form">

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label><h4><strong>首数：</strong><small><code>（示例：795）</code></small></h4></label>
          <div tag="alert" class="pull-right"></div>
          <input name="index" type="text" class="form-control" placeholder="" value="<%= m ? m.index : "" %>" />
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label><h4><strong>歌名：</strong><small><code>（示例：你是我唯一诗歌）</code></small></h4></label>
          <div tag="alert" class="pull-right"></div>
          <input name="name" type="text" class="form-control" placeholder="" value="<%= m ? m.name : "" %>" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label><h4><strong>歌词首句：</strong><small><code>（示例：你是我心中）</code></small></h4></label>
          <div tag="alert" class="pull-right"></div>
          <input name="first_sentence" type="text" class="form-control" placeholder="" value="<%= m ? m.first_sentence : "" %>" />
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label><h4><strong>（分类目录）大类：</strong><small><code>（示例：灵交）</code></small></h4></label>
          <div tag="alert" class="pull-right"></div>
          <select name="category_big" class="form-control">
            <option value=""></option>
            <option value="颂赞" <%= m&&(m.category_big=="颂赞") ? " selected='selected' " : "" %> >颂赞</option>
            <option value="纪念" <%= m&&(m.category_big=="纪念") ? " selected='selected' " : "" %> >纪念</option>
            <option value="福音" <%= m&&(m.category_big=="福音") ? " selected='selected' " : "" %> >福音</option>
            <option value="教会" <%= m&&(m.category_big=="教会") ? " selected='selected' " : "" %> >教会</option>
            <option value="道路" <%= m&&(m.category_big=="道路") ? " selected='selected' " : "" %> >道路</option>
            <option value="灵交" <%= m&&(m.category_big=="灵交") ? " selected='selected' " : "" %> >灵交</option>
            <option value="其它" <%= m&&(m.category_big=="其它") ? " selected='selected' " : "" %> >其它</option>
            <option value="附录" <%= m&&(m.category_big=="附录") ? " selected='selected' " : "" %> >附录</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label><h4><strong>（分类目录）小类：</strong><small><code>（示例：培灵奋兴）</code></small></h4></label>
          <div tag="alert" class="pull-right"></div>
          <select name="category_small" class="form-control">
            <option value=""></option>
            <option value="">---- 颂赞 ----</option>
            <option value="圣父" <%= m&&(m.category_small=="圣父") ? " selected='selected' " : "" %> >圣父</option>
            <option value="圣子" <%= m&&(m.category_small=="圣子") ? " selected='selected' " : "" %> >圣子</option>
            <option value="圣灵" <%= m&&(m.category_small=="圣灵") ? " selected='selected' " : "" %> >圣灵</option>
            <option value="">---- 纪念 ----</option>
            <option value="耶稣降生" <%= m&&(m.category_small=="耶稣降生") ? " selected='selected' " : "" %> >耶稣降生</option>
            <option value="耶稣受难" <%= m&&(m.category_small=="耶稣受难") ? " selected='selected' " : "" %> >耶稣受难</option>
            <option value="复活升天" <%= m&&(m.category_small=="复活升天") ? " selected='selected' " : "" %> >复活升天</option>
            <option value="再来审判" <%= m&&(m.category_small=="再来审判") ? " selected='selected' " : "" %> >再来审判</option>
            <option value="">---- 福音 ----</option>
            <option value="宣召" <%= m&&(m.category_small=="宣召") ? " selected='selected' " : "" %> >宣召</option>
            <option value="悔改相信" <%= m&&(m.category_small=="悔改相信") ? " selected='selected' " : "" %> >悔改相信</option>
            <option value="平安喜乐" <%= m&&(m.category_small=="平安喜乐") ? " selected='selected' " : "" %> >平安喜乐</option>
            <option value="笃信见证" <%= m&&(m.category_small=="笃信见证") ? " selected='selected' " : "" %> >笃信见证</option>
            <option value="">---- 教会 ----</option>
            <option value="礼拜" <%= m&&(m.category_small=="礼拜") ? " selected='selected' " : "" %> >礼拜</option>
            <option value="洗礼" <%= m&&(m.category_small=="洗礼") ? " selected='selected' " : "" %> >洗礼</option>
            <option value="晚餐" <%= m&&(m.category_small=="晚餐") ? " selected='selected' " : "" %> >晚餐</option>
            <option value="《圣经》" <%= m&&(m.category_small=="《圣经》") ? " selected='selected' " : "" %> >《圣经》</option>
            <option value="祈祷" <%= m&&(m.category_small=="祈祷") ? " selected='selected' " : "" %> >祈祷</option>
            <option value="团契" <%= m&&(m.category_small=="团契") ? " selected='selected' " : "" %> >团契</option>
            <option value="步道" <%= m&&(m.category_small=="步道") ? " selected='selected' " : "" %> >步道</option>
            <option value="灵战" <%= m&&(m.category_small=="灵战") ? " selected='selected' " : "" %> >灵战</option>
            <option value="青年" <%= m&&(m.category_small=="青年") ? " selected='selected' " : "" %> >青年</option>
            <option value="儿童" <%= m&&(m.category_small=="儿童") ? " selected='selected' " : "" %> >儿童</option>
            <option value="">---- 道路 ----</option>
            <option value="信心" <%= m&&(m.category_small=="信心") ? " selected='selected' " : "" %> >信心</option>
            <option value="引导" <%= m&&(m.category_small=="引导") ? " selected='selected' " : "" %> >引导</option>
            <option value="顺服" <%= m&&(m.category_small=="顺服") ? " selected='selected' " : "" %> >顺服</option>
            <option value="奉献" <%= m&&(m.category_small=="奉献") ? " selected='selected' " : "" %> >奉献</option>
            <option value="忠心" <%= m&&(m.category_small=="忠心") ? " selected='selected' " : "" %> >忠心</option>
            <option value="受苦" <%= m&&(m.category_small=="受苦") ? " selected='selected' " : "" %> >受苦</option>
            <option value="安慰" <%= m&&(m.category_small=="安慰") ? " selected='selected' " : "" %> >安慰</option>
            <option value="事奉" <%= m&&(m.category_small=="事奉") ? " selected='selected' " : "" %> >事奉</option>
            <option value="指望" <%= m&&(m.category_small=="指望") ? " selected='selected' " : "" %> >指望</option>
            <option value="天家" <%= m&&(m.category_small=="天家") ? " selected='selected' " : "" %> >天家</option>
            <option value="">---- 灵交 ----</option>
            <option value="追求圣洁" <%= m&&(m.category_small=="追求圣洁") ? " selected='selected' " : "" %> >追求圣洁</option>
            <option value="与神合一" <%= m&&(m.category_small=="与神合一") ? " selected='selected' " : "" %> >与神合一</option>
            <option value="培灵奋兴" <%= m&&(m.category_small=="培灵奋兴") ? " selected='selected' " : "" %> >培灵奋兴</option>
            <option value="敬虔感谢" <%= m&&(m.category_small=="敬虔感谢") ? " selected='selected' " : "" %> >敬虔感谢</option>
            <option value="">---- 其它 ----</option>
            <option value="诗篇" <%= m&&(m.category_small=="诗篇") ? " selected='selected' " : "" %> >诗篇</option>
            <option value="家庭" <%= m&&(m.category_small=="家庭") ? " selected='selected' " : "" %> >家庭</option>
            <option value="婚礼" <%= m&&(m.category_small=="婚礼") ? " selected='selected' " : "" %> >婚礼</option>
            <option value="丧礼" <%= m&&(m.category_small=="丧礼") ? " selected='selected' " : "" %> >丧礼</option>
            <option value="病中" <%= m&&(m.category_small=="病中") ? " selected='selected' " : "" %> >病中</option>
            <option value="落成" <%= m&&(m.category_small=="落成") ? " selected='selected' " : "" %> >落成</option>
            <option value="国家" <%= m&&(m.category_small=="国家") ? " selected='selected' " : "" %> >国家</option>
            <option value="时序" <%= m&&(m.category_small=="时序") ? " selected='selected' " : "" %> >时序</option>
            <option value="离别" <%= m&&(m.category_small=="离别") ? " selected='selected' " : "" %> >离别</option>
            <option value="">---- 附录 ----</option>
            <option value="短歌" <%= m&&(m.category_small=="短歌") ? " selected='selected' " : "" %> >短歌</option>
          </select>
        </div>
      </div>
    </div>
    
    <div tag="song">
    
    <div class="row">
      <div class="col-md-12">
        <h4><label>歌曲文件：</label></h4>
        <div class="panel panel-default">
          <table class="table table-condensed table-hover" tag="songsContainer">
            <thead>
              <tr>
                <th class="col-md-3">文件名</th>
                <th class="col-md-1">文件大小</th>
                <th class="col-md-2">上传时间</th>
                <th class="col-md-2">上传者</th>
                <th class="col-md-1">喜爱度</th>
                <th class="col-md-1"></th>
                <th class="col-md-2">操作</th>
              </tr>
            </thead>
            <tbody id="SongResourcesContainer">
              <tr>
                <td colspan="20">暂无歌曲，请登录后上传。</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    <% if(userId) { %>
    
    <div class="row">
      <div class="col-md-12">
        <div class="btn btn-success" tag="upload">
          <span class="glyphicon glyphicon-upload"></span> 上传歌曲
        </div>
        <label>&nbsp;&nbsp;</label>
        <span tag="alert">
        </span>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <table class="table" tag="upload_container">
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-primary" tag="start_upload" style="display: none;">开始上传</button>
      </div>
    </div>
    
    <% } %>
    
    </div>
    
    <hr />
    
    <div tag="pic">
    
    <div class="row">
      <div class="col-md-12">
        <h4><label>歌谱文件：</label></h4>
        <div class="panel panel-default">
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th class="col-md-3">文件名</th>
                <th class="col-md-1">文件大小</th>
                <th class="col-md-2">上传时间</th>
                <th class="col-md-2">上传者</th>
                <th class="col-md-1">喜爱度</th>
                <th class="col-md-1"></th>
                <th class="col-md-2">操作</th>
              </tr>
            </thead>
            <tbody id="PicResourcesContainer">
              <tr>
                <td colspan="20">暂无歌谱，请登录后上传。</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    <% if(userId) { %>
    
    <div class="row">
      <div class="col-md-12">
        <div class="btn btn-warning" tag="upload">
          <span class="glyphicon glyphicon-upload"></span> 上传歌谱
        </div>
        <label>&nbsp;&nbsp;</label>
        <span tag="alert">
        </span>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <table class="table" tag="upload_container">
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-primary" tag="start_upload" style="display: none;">开始上传</button>
      </div>
    </div>
    
    <% } %>
    
    </div>
    
    <hr />
    
    <div class="row">
      <div class="col-md-3">
        <button tag="submit" type="button" class="btn btn-primary">确 定</button>
        <label>&nbsp;&nbsp;</label>
        <!-- <button tag="del" type="button" class="btn btn-default" data-toggle="tooltip" title="双击">删除</button> -->
      </div>
      <div class="col-md-9">
        <div tag="alert">
        </div>
      </div>
    </div>
    <hr />
    
  </form>
    
</div>

</script>

<script type="text/template" id="UploadTemplate">

<% var m = file; %>
<tr>
  <td ><%= m.name %></td>
  <td class="col-md-1"><%= (m.size/1000000).toFixed(2) %>MB</td>
  <td class="col-md-4">
    <div class="progress">
      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        <span></span>
      </div>
    </div>
  </td>
  <td class="col-md-1">
    <button tag="cancel_upload" type="button" class="btn btn-default btn-xs">取消</button>
  </td>
</tr>

</script>

<script id="PlayerTemplate" type="text/template">

  <% var m = model.toJSON(); %>
  
  <div class="audiojs panel panel-default player">
    <div class="row">
      <div class="col-md-2 col-ms-2 col-xs-2">
        <div class="play-info">
          <p class="icon"><span class="glyphicon glyphicon-music"></span></p>
          <p class="text" title="<%= m.song_src %>" ><%= m.song_src %></p>
        </div>
      </div>
      <div class="col-md-8 col-sm-8 col-xs-8">
        <div class="play-container">
          <iframe frameborder="0" scrolling="no" width="100%" height="100%" src="/pages/player.html?src=<%= encodeURIComponent(m.song_src) %>" ></iframe>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2">
        <div class="play-oper">
          <p class="oper">
            <a class="btn btn-warning btn-xs" href="<%= m.pic_src ? (config.bucketUrl + encodeURIComponent(m.pic_src)) : "javascript:;" %>" target="_blank" <%= m.pic_src ? "" : "disabled='disabled'" %> >歌谱</a>
            <a class="btn btn-default btn-xs" href="javascript:;" tag="close">关闭</a>
          </p>
        </div>
      </div>
    </div>
  </div>

</script>

</div>